.blue-sm-radius{
    width: 11px;
    height: 11px;
    background-color: rgba(76, 64, 247, 1);
    border-radius: 100px;
}

ul{
    font-family: 'Jost', sans-serif;
}

.pt-f{
    padding-top: 100px;
    padding-bottom: 40px;
}


.header-btn{
    color: rgba(255, 173, 96, 1);
    background: transparent;
    border-radius: 8px;
    border-color: rgba(255, 173, 96, 1);
    padding: 4px 16px 4px 16px;
}


@media (max-width:530px){
    .flex-col{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    
}

@media (max-width:765px){
    .flex-col{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}