<div class="main-container padding-top">
  <div class="child-container">
    <div class="d-flex justify-content-between">
      <div
        class="first align-items-center d-flex flex-column justify-content-between"
      >
        <img src="assets/images/Vector 16.png" class="img-fluid" />
        <img
          src="assets/images/Group 162534.png"
          class="img-fluid padding-left"
        />
      </div>
      <div class="hedaing text-center font-jost">
        <h1>Make your <span>Platform</span> Perfect</h1>
        <p class="intro-p pt-2">
          we are a design studio that has completed various projects in the
          field of technology to perfection.
        </p>
        <div class="intro-button pt-4">
          <button type="button" class="intro-btn">Get started</button>
        </div>
      </div>
      <div
        class="second align-items-center d-flex flex-column justify-content-between"
      >
        <img src="assets/images/Group 162533.png" class="img-fluid" />
        <img src="assets/images/add.png" class="img-fluid" />
      </div>
    </div>

    <div class="choose-us pt-7rem font-jost">
      <div
        class="choose-h2 d-flex justify-content-between align-items-center flexcol"
      >
        <h2>why should choose us ?</h2>
        <p class="w-353 m-0">
          Let's see what makes you have to choose us, it's all in this video.
        </p>
      </div>

      <div class="choose-img pt-5">
        <img src="assets/images/image 4 (2).png" class="img-fluid" />
      </div>
    </div>

    <div class="service padding-top">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="w-424px">
            <h2>What services do we offer?</h2>
            <p class="pt-3 service-p">
              These are some of the services that you will get if you cooperate
              with us, of course there are many more.
            </p>
            <ul class="list-unstyled pt-3 fs-5">
              <li><a class="text-decoration-underline a-color">See More</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 pd-sm-30px">
          <div class="row font-jost">
            <div class="col-12 col-lg-6 mb-4">
              <img src="assets/images/Group 542.png" class="img-fluid" />
              <h4 class="pt-4">Content Strategy</h4>
              <p class="pt-2 service-p">
                All our content marketing service packages include a custom
                content strategy
              </p>
            </div>
            <div class="col-12 col-lg-6 mb-4">
              <img src="assets/images/Group 555.png" class="img-fluid" />
              <h4 class="pt-4">Content Development</h4>
              <p class="pt-2 service-p">
                We create some content calendar for your company’s must-share
                content
              </p>
            </div>
            <div class="col-12 col-lg-6 mb-4 pt-5">
              <img src="assets/images/Group 556.png" class="img-fluid" />
              <h4 class="pt-4">Content Creation</h4>
              <p class="pt-2 service-p">
                Experienced in copywriting and marketing team begins creating
                content
              </p>
            </div>
            <div class="col-12 col-lg-6 mb-4 pt-5">
              <img src="assets/images/Group 554.png" class="img-fluid" />
              <h4 class="pt-4">Content Optimization</h4>
              <p class="pt-2 service-p">
                Your content marketing management services also include SEO
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="img">
    <img
      src="assets/images/Graphic 1.png"
      class="img-fluid position-relative img-graphic"
    />
  </div>
</div>

<div class="main-container pt-5">
  <div class="child-container font-jost">
    <div class="d-flex justify-content-between">
      <div class="div"></div>
      <div class="text-center">
        <p class="testi">Testimonials</p>
        <h3>Our Client Reviews</h3>
      </div>
      <div class="box-img">
        <img src="assets/images/Graphic 3.png" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active mar">
          <div class="d-flex justify-content-center gap-3 font-jost">
            <div class="content">
              <img
                src="assets/images/Ellipse 1131.png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Mr Jorce</b></h5>
              <p class="font-12">Retail Company</p>
              <p class="slider-p">
                “thank you for realizing the idea and highly recommend it for
                those of you who want to create a system”
              </p>
            </div>

            <div class="content">
              <img
                src="assets/images/Ellipse 1131 (1).png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Ms Elvy</b></h5>
              <p class="font-12">investment company</p>
              <p class="slider-p">
                “Investment is quite important in this era, and because of you I
                was able to create a corporate system for my own investment”
              </p>
            </div>

            <div class="content">
              <img
                src="assets/images/Ellipse 1131 (1).png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Mpok Ina</b></h5>
              <p class="font-12">Karyawan Swasta</p>
              <p class="slider-p">
                “Sangat terjangkau untuk kantong saya yang tidak terlalu banyak“
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item mar">
          <div class="d-flex justify-content-center gap-2 font-jost">
            <div class="content">
              <img
                src="assets/images/Ellipse 1131.png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Mr Jorce</b></h5>
              <p class="font-12">Retail Company</p>
              <p class="slider-p">
                “thank you for realizing the idea and highly recommend it for
                those of you who want to create a system”
              </p>
            </div>

            <div class="content">
              <img
                src="assets/images/Ellipse 1131 (1).png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Ms Elvy</b></h5>
              <p class="font-12">investment company</p>
              <p class="slider-p">
                “Investment is quite important in this era, and because of you I
                was able to create a corporate system for my own investment”
              </p>
            </div>

            <div class="content">
              <img
                src="assets/images/Ellipse 1131 (1).png"
                class="img-fluid position-relative slider-img"
              />
              <h5 class="m-0"><b>Mpok Ina</b></h5>
              <p class="font-12">Karyawan Swasta</p>
              <p class="slider-p">
                “Sangat terjangkau untuk kantong saya yang tidak terlalu banyak“
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="color">
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <i
            class="fa-sharp fa-solid fa-arrow-right-long"
            aria-hidden="true"
          ></i>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="color">
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <i
            class="fa-sharp fa-solid fa-arrow-left-long"
            aria-hidden="true"
          ></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="main-container padding-top">
  <div class="d-flex border-radius-content">
    <div class="circle-img">
      <img src="assets/images/Group 162534.png" />
    </div>

    <div
      class="border-radius d-flex justify-content-center align-items-center flex-column font-jost"
    >
      <div class="border-subs">
        <p class="w-888px text-center border-p">
          Subscribe to get information, latest news and other interesting offers
          about agency
        </p>
      </div>

      <div class="subscribe d-flex gap-2 pt-5">
        <input type="email" placeholder="Your email" />
        <button type="button" class="border-btn">Subscribe</button>
      </div>
    </div>

    <div class="border-img d-flex justify-content-between flex-column ">
      <img src="assets/images/Group 77.png" class="img-fluid msg" />
      <img src="assets/images/Group 5 (1).png" class="img-fluid plus" />
    </div>
  </div>
</div>
